    $primary-colorr: #fff;
    $accent-color: #f17e19;
    $background-color: #f5f6fa;
    $card-background: #ffffff;
    $shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    $hover-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
    $bg-color1: #212e37;
    $bg-color2: rgba(33, 46, 55, 255);
    $primary-color: #2d3436;